#addFriends.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-dialog-zoom(role='document')
      .modal-content
        .modal-header
          h5.modal-title
            i.ti-user
            |  Add Friends
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ti-close
        .modal-body
          .alert.alert-info Send invitations to friends.
          form#add-friend(method='post')
            .form-group
              label.col-form-label(for='email-phone') Email addresses or phone number
              input#email-phone.form-control(type='text' name='email-phone')
            .form-group
              label.col-form-label(for='message') Invitation message
              textarea#message.form-control
            button.btn.btn-primary(type='submit') Submit
        .modal-footer
            
