#newGroup.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-dialog-zoom(role='document')
      .modal-content
        .modal-header
          h5.modal-title
            i.fa.fa-users
            |  New Group
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ti-close
        .modal-body
          form#createGroup
            .form-group
              label.col-form-label(for='group_name') Group name
              input#group_name.form-control(type='text' name='groupName')
            .form-group
              label.col-form-label(for='searchGroupUser') Username
              select#addGroupUser.js-example-basic-multiple.select-add-user-group(name='fullName', multiple='multiple')
            .form-group
              #member-gr.avatar-group
                figure.avatar
                  span.avatar-title.bg-primary.rounded-circle +
                figure.avatar.user-id(data-user-id = user.id)
                  span.avatar-title.bg-success.rounded-circle 0
            .form-group
              label.col-form-label(for='description') Description
              textarea#description.form-control(name='description')
            .form-group
              button.btn.btn-primary(type='submit') Create Group

