#chats.sidebar.active
          header
            span Chats
            ul.list-inline
              li.list-inline-item(data-toggle='tooltip' title='' data-original-title='New Group' data-trigger='hover')
                a.btn.btn-light(href='#' data-toggle='modal' data-target='#newGroup')
                  i.fa.fa-users
              li.list-inline-item
                a.btn.btn-light(data-toggle='tooltip' title='' href='#' data-navigation-target='friends' data-original-title='New Chat')
                  i.ti-comment-alt
              li.list-inline-item.d-lg-none.d-sm-block
                a.btn.btn-light.sidebar-close(href='#')
                  i.ti-close
          form(action='')
            input.form-control(type='text' placeholder='Search chat')
          .sidebar-body(tabindex='3' style='overflow: hidden; outline: none;')
            ul.list-group.list-group-flush
              if groupChats
                each groupChat, index in groupChats
                  li.list-group-item.open-chat(data-_id=groupChat._id)
                    .avatar-group
                      figure.avatar
                        span.avatar-title.bg-warning.bg-success.rounded-circle
                          i.fa.fa-users
                    .users-list-body
                      h5= groupChat.groupName
                      if(groupChat.lastIdSender == user.id)
                        p
                          strong You:
                          |&nbsp#{groupChat.lastContentMessage}
                      else
                        p
                          strong= groupChat.lastNameSender + ':'
                          |&nbsp#{groupChat.lastContentMessage}
                      .users-list-action.action-toggle
                        .dropdown
                          a(data-toggle='dropdown' href='#')
                            i.ti-more
                          .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href="/conversations/" + groupChat._id + "" ) Open
                            a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
                            a.dropdown-item(href='#') Add to archive
                            a.dropdown-item(href='#') Delete
                  //- else
                  //-   li.list-group-item(data-_id=groupChat._id, data-user=user.id)
                  //-     .avatar-group
                  //-       figure.avatar
                  //-         span.avatar-title.bg-warning.bg-success.rounded-circle
                  //-           i.fa.fa-users
                  //-     .users-list-body
                  //-       h5= groupChat.groupName
                  //-       p
                  //-         strong Maher Ruslandi: 
                  //-         | Hello!!!
                  //-       .users-list-action.action-toggle
                  //-         .dropdown
                  //-           a(data-toggle='dropdown' href='#')
                  //-             i.ti-more
                  //-           .dropdown-menu.dropdown-menu-right
                  //-             a.dropdown-item(href='#') Open
                  //-             a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
                  //-             a.dropdown-item(href='#') Add to archive
                  //-             a.dropdown-item(href='#') Delete
