#favorites.sidebar
      header
        span Friend request
        ul.list-inline
          li.list-inline-item.d-lg-none.d-sm-block
            a.btn.btn-light.sidebar-close(href='#')
              i.ti-close
      form(action='')
        input.form-control(type='text' placeholder='Search favorites')
      .sidebar-body(tabindex='5' style='overflow: hidden; outline: none;')
          if listRequest
            ul.list-group.list-group-flush.users-list
              each infoFriend in listRequest
                li.list-group-item(idFriend = infoFriend.user_2)
                  .users-list-body
                    h5= infoFriend.firstName + ' ' + infoFriend.lastName
                    p I know how important this file is to you. You can trust me ;)
                    .users-list-action.action-toggle
                      .dropdown
                        a(data-toggle='dropdown' href='#')
                          i.ti-more
                        .dropdown-menu.dropdown-menu-right
                          a#accept-friend.dropdown-item(href='#' idFriend = infoFriend.user_2) Accept
                          a#deny-friend.dropdown-item(href='#' idFriend = infoFriend.user_2) Deny
                          

