#friends.sidebar
      header
        span Friends
        ul.list-inline
          li.list-inline-item
            a.btn.btn-light(href='#' data-toggle='modal' data-target='#addFriends')
              i.ti-plus.btn-icon
              |  Add Friends
          li.list-inline-item.d-lg-none.d-sm-block
            a.btn.btn-light.sidebar-close(href='#')
              i.ti-close
      form(action='')
        input.form-control(type='text' placeholder='Search chat')
      .sidebar-body(tabindex='4' style='overflow: hidden; outline: none;')
        if listFriend
          ul.list-group.list-group-flush
            each infoFriend in listFriend
              li.list-group-item
                div
                  figure.avatar
                    img.rounded-circle(src='/dist/images/women_avatar5.jpg')
                .users-list-body
                  h5= infoFriend.firstName + ' ' + infoFriend.lastName
                  p Lorem ipsum dolor sitsdc sdcsdc sdcsdcs
                  .users-list-action.action-toggle
                    .dropdown
                      a(data-toggle='dropdown' href='#')
                        i.ti-more
                      .dropdown-menu.dropdown-menu-right
                        a.dropdown-item(href='#') Open
                        a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
                        a.dropdown-item(href='#') Add to archive
                        a#deny-friend.dropdown-item(href='#' idFriend = infoFriend.user_2) Unfriend
